html{
    height:100%;


}
.conteiner {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    margin:0 auto;
    width:1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
body{
    margin:0;
    padding: 0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family:"PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:black;
    background-color: #F2F2F2;
}
.main-conteiner{
    flex-grow: 1;
}
.main-index{
    margin-top:-6px;
}
 .page-header {
    color:#000000;
    background-color: #FFFFFF;
    width: 1200px;

 }
 .page-header-logo {
    align-self: flex-start;
    width: 140px;
    margin-right: 44px;
}
 .navigation-list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin: 0;
        padding: 0;
        margin-right: auto;
        list-style: none;
        width: 450px;
    }



 .navigation-link{
    font-family: "PT sans", sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color:inherit;
    text-align: center;
    text-decoration: none;
 }
 .navigation-link-current {
        text-decoration: underline;
        text-decoration-color: #756257;
        text-decoration-thickness: 2px;
        text-underline-offset: 16px;
        text-underline-position: under;
    font-family: "PT sans", sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color:inherit;
    text-align: center;

 }
 .navigation-user {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    max-width: 270px;
    margin-left: auto;
    list-style: none;
 }
 .navigation-user-link {
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color:inherit;
    text-decoration: none;
 }
 .number-favorites{
    line-height: 24px;
    font-size: 20px;
    color:#FFFFFF;
 }
 .logo {
    width: 100%;
    height: auto;
    vertical-align: middle;
 }
 .header-button{
    font-family: "PT Sans , sans-serif";
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background: #756157;
 }

.main-monitor {
background-image:url("../images/divider.svg"),  url("../images/index-background.jpg");
background-size:100% auto, 1200px 485px;
background-repeat:no-repeat;
background-position: left bottom, left top;
background-color:blueviolet;
width: 1200px;
height: 485px;
}

.reason-title {
    font-size: 30px;
    line-height:36px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    width: 1200px;
}
.content {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 1200px;
}
.reason-item-accent{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #82b3d3;
    width: 1200px;
}
.reason-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.reason-item {
    width: 400px;
    background-color: #83b3d31f;
}
.reason-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    text-transform: uppercase;
    color: #000000;
    width: 1200px;

}
 .reason-accent  {
    color: #ffffff;
}

.reason-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    width: 1200px;
}
.description-accent {
    color: #ffffff;
}


.locality{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.locality-list {
    display: flex;
  flex-direction: row;
}
.locality-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 96px;
    text-transform: uppercase;
}
.locality-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.locality-item {
    width: 1200px;
    background-color: #83b3d31f;
}
.search-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 1200px;
}
.search-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 1200px;

}

.search-button{
    font-family: "PT Sans , sans-serif";
     font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    margin-left: 412px;
    width: 1200px;
}
.subscribe {
    background-image: url("../images/subscribe-background.png");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
}
.subscribe-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.subscribe-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-align: left;
}
.field {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color:#ffffff
}
.subscribe-button {
    font-family: "PT Sans , sans-serif";
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background: #82b3d3;
}
.phone-mobile{
    background-image: url("../images/+7 (812) 812-12-12.svg");
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.all-filters {
    background-image:url("../images/filter.png");
background-repeat:no-repeat;
background-color:#000000;
width: 1200px;
color:#FFFFFF;
 }
 .inner-menu-link{
    color: #FFFFFF;
    text-decoration: none;
 }
 .select-control{
    font-weight: 400 ;
    color:#333333;
    background-color: #FFFFFF;
 }
 .catalog-filter-submit{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #82b3d3;
 }
 .catalog-filter-reset {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
 }
.catalog-products-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}
.select-control {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.product-type {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.product-price{
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
}
.product-rating  {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 9px;
    text-transform: uppercase;
    color: #333333;
    width: 140px;
    height: 37px;
    border-radius: 4px;
    background: #f2f2f2;
}

.product-button{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    background: #756157;
}
.add-to-favourites{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    background: #82b3d3;
}
.added-to-favourites{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    background: #7DB54F;
}
.pagination-link-current{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}
.pagination-link{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    background: #82b3d3;
    text-decoration: none;
}
.footer {
    display: flex;
margin: 70px;
width: 1060px;
justify-content:space-between;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pt-sans-bold.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pt-sans-regular.woff2) format("woff2");
    font-display: swap;
    text-decoration: none;
    color: #000000;

}
